## WEB-SCRAPING-PROJECT-1

# Qustion 1 :-

## Write a python program to display all the header tags from  ‘en.wikipedia.org/wiki/Main_Page’.

In [1]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup

## Lode the source code 
html = urlopen('https://en.wikipedia.org/wiki/Main_Page')

## pares the source
bs = BeautifulSoup(html, "html.parser")

## find the all headers tages
titles = bs.find_all(['h1', 'h2','h3','h4','h5','h6'])
print('List all the header tags :', *titles, sep='\n\n')

List all the header tags :

<h1 class="firstHeading" id="firstHeading" lang="en">Main Page</h1>

<h2 class="mp-h2" id="mp-tfa-h2"><span id="From_today.27s_featured_article"></span><span class="mw-headline" id="From_today's_featured_article">From today's featured article</span></h2>

<h2 class="mp-h2" id="mp-dyk-h2"><span class="mw-headline" id="Did_you_know_...">Did you know ...</span></h2>

<h2 class="mp-h2" id="mp-itn-h2"><span class="mw-headline" id="In_the_news">In the news</span></h2>

<h2 class="mp-h2" id="mp-otd-h2"><span class="mw-headline" id="On_this_day">On this day</span></h2>

<h2 class="mp-h2" id="mp-tfl-h2"><span id="From_today.27s_featured_list"></span><span class="mw-headline" id="From_today's_featured_list">From today's featured list</span></h2>

<h2 class="mp-h2" id="mp-tfp-h2"><span id="Today.27s_featured_picture"></span><span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span></h2>

<h2 class="mp-h2" id="mp-other"><span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span></h2>

<h2 class="mp-h2" id="mp-sister"><span id="Wikipedia.27s_sister_projects"></span><span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span></h2>

<h2 class="mp-h2" id="mp-lang"><span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span></h2>

<h2>Navigation menu</h2>

<h3 id="p-personal-label">
<span>Personal tools</span>
</h3>

<h3 id="p-namespaces-label">
<span>Namespaces</span>
</h3>

<h3 id="p-variants-label">
<span>Variants</span>
</h3>

<h3 id="p-views-label">
<span>Views</span>
</h3>

<h3 id="p-cactions-label">
<span>More</span>
</h3>

<h3>
<label for="searchInput">Search</label>
</h3>

<h3 id="p-navigation-label">
<span>Navigation</span>
</h3>

<h3 id="p-interaction-label">
<span>Contribute</span>
</h3>

<h3 id="p-tb-label">
<span>Tools</span>
</h3>

<h3 id="p-coll-print_export-label">
<span>Print/export</span>
</h3>

<h3 id="p-wikibase-otherprojects-label">
<span>In other projects</span>
</h3>

<h3 id="p-lang-label">
<span>Languages</span>
</h3>

# Question 2:- 

## Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file

In [2]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [3]:
## Lode the source code
page = rs.get("https://www.imdb.com/list/ls091520106/")

In [4]:
soup = Soup(page.content , "html.parser")

In [5]:
## create 3 empty list("Movie_Name", "IMDB_rating","Release_Year")

Movie_Name = []
IMDB_rating = []
Release_Year = []

In [6]:
## Now extect all the tags where we have Movie_Name .

Name = soup.find_all("h3", class_ ="lister-item-header")
Name[0:4]

[<h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">1.</span>
 <a href="/title/tt0111161/">The Shawshank Redemption</a>
 <span class="lister-item-year text-muted unbold">(1994)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">2.</span>
 <a href="/title/tt0068646/">The Godfather</a>
 <span class="lister-item-year text-muted unbold">(1972)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">3.</span>
 <a href="/title/tt0071562/">The Godfather: Part II</a>
 <span class="lister-item-year text-muted unbold">(1974)</span>
 </h3>,
 <h3 class="lister-item-header">
 <span class="lister-item-index unbold text-primary">4.</span>
 <a href="/title/tt0468569/">The Dark Knight</a>
 <span class="lister-item-year text-muted unbold">(2008)</span>
 </h3>]

In [7]:
# now we extact the text form the these tegs by using for loop over the tags 

for i in Name :
    Movie_Name.append(i.get_text().replace("\n"," "))

Movie_Name[0:4]

[' 1. The Shawshank Redemption (1994) ',
 ' 2. The Godfather (1972) ',
 ' 3. The Godfather: Part II (1974) ',
 ' 4. The Dark Knight (2008) ']

In [8]:
## Now extect all the tags where we have Ratings .

Ratings = soup.find_all("div", class_ ="ipl-rating-star small")
Ratings[0:4]

[<div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9.3</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9.2</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9</span>
 </div>,
 <div class="ipl-rating-star small">
 <span class="ipl-rating-star__star">
 <svg class="ipl-icon ipl-star-icon" fill="#000000" height="24" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
 <path d="M0 0h24v24H0z" fill="none"></path>
 <path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path>
 <path d="M0 0h24v24H0z" fill="none"></path>
 </svg>
 </span>
 <span class="ipl-rating-star__rating">9</span>
 </div>]

In [9]:
for i in Ratings :
    IMDB_rating.append(i.get_text().replace("\n"," "))

IMDB_rating[0:4]

['        9.3 ', '        9.2 ', '        9 ', '        9 ']

In [10]:
## Now extect all the tags where we have Years .

Years = soup.find_all("span", class_ ="lister-item-year text-muted unbold")
Years[0:4]

[<span class="lister-item-year text-muted unbold">(1994)</span>,
 <span class="lister-item-year text-muted unbold">(1972)</span>,
 <span class="lister-item-year text-muted unbold">(1974)</span>,
 <span class="lister-item-year text-muted unbold">(2008)</span>]

In [11]:
#now we extact the text form the these tegs by using for loop over the tags 

for i in Years :
    Release_Year.append(i.get_text().replace("\n",""))

Release_Year [0:4]

['(1994)', '(1972)', '(1974)', '(2008)']

In [12]:
# check the lenghth of the all 3 columns
print(len(Movie_Name),len(IMDB_rating),len(Release_Year))

100 100 100

In [13]:
##### Create the dataframe 

import pandas as pd

Movie_data = pd.DataFrame({})
Movie_data ["Movie_Name"] = Movie_Name
Movie_data["IMDB_rating"] = IMDB_rating
Movie_data["Release_Year"] = Release_Year

In [14]:
Movie_data

                              Movie_Name   IMDB_rating Release_Year
0    1. The Shawshank Redemption (1994)           9.3        (1994)
1               2. The Godfather (1972)           9.2        (1972)
2      3. The Godfather: Part II (1974)             9        (1974)
3             4. The Dark Knight (2008)             9        (2008)
4                5. 12 Angry Men (1957)             9        (1957)
..                                   ...           ...          ...
95        96. North by Northwest (1959)           8.3        (1959)
96        97. A Clockwork Orange (1971)           8.3        (1971)
97                    98. Snatch (2000)           8.3        (2000)
98                    99. Amélie (2001)           8.3        (2001)
99                  100. The Kid (1921)           8.3        (1921)

[100 rows x 3 columns]

In [15]:
import warnings
import re
warnings.filterwarnings('ignore')

In [16]:
def clean(text):
    text = ''.join([i for i in text if not i.isdigit()])
    text =  text.replace("()","").replace(".","")
    return text

Movie_data["Movie_Name"]=Movie_data["Movie_Name"].apply(clean)

In [17]:
Movie_data.head()

                     Movie_Name   IMDB_rating Release_Year
0    The Shawshank Redemption            9.3        (1994)
1               The Godfather            9.2        (1972)
2      The Godfather: Part II              9        (1974)
3             The Dark Knight              9        (2008)
4                   Angry Men              9        (1957)

# Qustion 3:-

## Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [18]:
### ##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [19]:
## Lode the source code
page_source = rs.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [20]:
## Now parse the source code bu BeautifulSoup and the parser used here is html parse as source code in html

M_soup = Soup(page_source.content , "html.parser")

In [21]:
## create 3 empty list("IND_Movie_Name", "IND_IMDB_rating","IND_Release_Year")

IND_Movie_Name = []
IND_IMDB_rating = []
IND_Release_Year = []

In [22]:
## Now extect all the tags where we have Movie_Name .

Name1 = M_soup.find_all("td", class_ ="titleColumn")

# now we extact the text form the these tegs by using for loop over the tags 

for i in Name1 :
    IND_Movie_Name.append(i.get_text().replace("\n"," "))

IND_Movie_Name[0:4]

['       1.       Pather Panchali (1955) ',
 '       2.       Ratsasan (2018) ',
 '       3.       Gol Maal (1979) ',
 '       4.       Nayakan (1987) ']

In [23]:
## Now extect all the tags where we have IND_IMDB_rating .

Ratings1 = M_soup.find_all("td", class_="ratingColumn imdbRating")
Ratings1[0:4]

# now we extact the text form the these tegs by using for loop over the tags 

for i in Ratings1 :
    IND_IMDB_rating.append(i.get_text().replace("\n"," "))

IND_IMDB_rating[0:4]

[' 8.5 ', ' 8.5 ', ' 8.5 ', ' 8.5 ']

In [24]:
## Now extect all the tags where we have IND_Release_Year .

YEAR = M_soup.find_all("span", class_="secondaryInfo")
YEAR[0:4]

# now we extact the text form the these tegs by using for loop over the tags 

for i in YEAR:
    IND_Release_Year.append(i.get_text().replace("\n"," "))

IND_Release_Year[0:4]

['(1955)', '(2018)', '(1979)', '(1987)']

In [25]:
# check the lenghth of the all 3 columns
print(len(IND_Movie_Name),len(IND_IMDB_rating),len(IND_Release_Year))

250 250 250

In [26]:
##### Create the dataframe 

import pandas as pd

IND_Movies_data = pd.DataFrame({})
IND_Movies_data ["IND_Movie_Name"] = IND_Movie_Name
IND_Movies_data["IND_IMDB_rating"] = IND_IMDB_rating
IND_Movies_data["IND_Release_Year"] = IND_Release_Year


IND_Movies_data.head()

                            IND_Movie_Name IND_IMDB_rating IND_Release_Year
0         1.       Pather Panchali (1955)             8.5            (1955)
1                2.       Ratsasan (2018)             8.5            (2018)
2                3.       Gol Maal (1979)             8.5            (1979)
3                 4.       Nayakan (1987)             8.5            (1987)
4              5.       Anbe Sivam (2003)             8.5            (2003)

In [27]:
## clean the IND_Movie_Name Column

## create the function to clean the data 

def clean(text):
    text = ''.join([i for i in text if not i.isdigit()])
    text =  text.replace("()","").replace(".","")
    return text
IND_Movies_data["IND_Movie_Name"]=IND_Movies_data["IND_Movie_Name"].apply(clean)

In [28]:
IND_Movies_data.head()

                    IND_Movie_Name IND_IMDB_rating IND_Release_Year
0                Pather Panchali              8.5            (1955)
1                       Ratsasan              8.5            (2018)
2                       Gol Maal              8.5            (1979)
3                        Nayakan              8.5            (1987)
4                     Anbe Sivam              8.5            (2003)

# Question 4:-

## Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [29]:
### ##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

## Lode the source code
page_Book = rs.get("https://bookpage.com/reviews?book_genre=fiction&page=1")

## Now parse the source code bu BeautifulSoup and the parser used here is html parse as source code in html

Book_soup = Soup(page_Book.content , "html.parser")

In [30]:
## create the emplty list 

books_name=[]
author_name=[]
genre=[]
books_review=[]

In [31]:
## Now extect all the tags where we have books_name .

Book = Book_soup.find_all("h4", class_="italic")
Book[0:4]

# now we extact the text form the these tegs by using for loop over the tags 

for i in Book :
    books_name.append(i.get_text().replace("\n"," "))

books_name[0:4]

[' Summerwater ',
 " The Children's Train ",
 ' What Could Be Saved ',
 '  ★ Black Buck ']

In [32]:
## Now extect all the tags where we have Author .

Author = Book_soup.find_all("p", class_="sans bold")
Author[0:4]

# now we extact the text form the these tegs by using for loop over the tags 

for i in Author :
    author_name.append(i.get_text().replace("\n"," "))

author_name[0:4]

[' Sarah Moss ',
 ' Viola Ardone, Clarissa Botsford ',
 " Liese O'Halloran Schwarz ",
 ' Mateo Askaripour ']

In [33]:
## Now extect all the tags where we have genre .

genre1 = Book_soup.find_all("p", class_="genre-links hidden-phone")
genre1[0:4]

# now we extact the text form the these tegs by using for loop over the tags 

for i in genre1 :
    genre.append(i.get_text().replace("\n"," "))

genre[0:4]

[' Fiction  /  Literary Fiction ',
 ' Fiction  /  Historical Fiction ',
 ' Fiction  /  Family Saga ',
 ' Fiction  /  Satirical Fiction ']

In [34]:
## Now extect all the tags where we have Review .

Review = Book_soup.find_all("div", class_="read-full")
Review[0:4]

# now we extact the text form the these tegs by using for loop over the tags 

for i in Review :
    books_review.append(i.get_text().replace("\n"," "))

books_review[0:4]

[' Read the Review  ',
 ' Read the Review  ',
 ' Read the Review  ',
 ' Read the Review  ']

In [35]:
##### Create the dataframe 

import pandas as pd

Book_data = pd.DataFrame({})
Book_data ["books_name"] = books_name
Book_data ["author_name"] = author_name
Book_data["genre"] = genre
Book_data["books_review"] = books_review


Book_data.head()

,books_name,author_name,genre,books_review
0,Summerwater,Sarah Moss,Fiction / Literary Fiction,Read the Review
1,The Children's Train,"Viola Ardone, Clarissa Botsford",Fiction / Historical Fiction,Read the Review
2,What Could Be Saved,Liese O'Halloran Schwarz,Fiction / Family Saga,Read the Review
3,★ Black Buck,Mateo Askaripour,Fiction / Satirical Fiction,Read the Review
4,The Lost Manuscript,"Cathy Bonidan, Emma Ramadan",Fiction / Popular Fiction,Read the Review

# Question 5:- 
 
 ## Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape    


## 1)-Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [36]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [37]:
## Lode the source code
page_ODI = rs.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page_ODI

In [38]:
## Now parse the source code bu BeautifulSoup and the parser used here is html parse as source code in html

ODI_soup = Soup(page_ODI.content , "html.parser")

In [39]:
## create 4 empty list

Team = []
Match = []
Points = []
Rating =  []

In [40]:
## Now extect all the tags where we have Team name.

M_Team = ODI_soup.find_all("span", class_="u-hide-phablet")
M_Team[0:4]

[<span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">Australia</span>]

In [41]:
##now we extact the text form the these tegs by using for loop over the tags 
 
for i in M_Team:
    Team.append(i.get_text().replace("\n"," "))

In [42]:
Team=Team[0:20]
Team[0:5]

['England', 'India', 'New Zealand', 'Australia', 'South Africa']

In [43]:
## Now extect all the tags where we have Matchs .

ODI_Match = ODI_soup.find_all("td", class_="table-body__cell u-center-text")
ODI_Match[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
 
for i in ODI_Match:
    Match.append(i.get_text().replace("\n"," "))

Match[0:4]

['52', '6,102', '32', '3,716']

In [44]:
## we get both the data in on class so we clean the data / extect the (nb of match )  and Points
Total_Match=[]
i=0
while i < len(Match):
    Total_Match.append(Match[i])
    i += 2
        
print(Total_Match)

['52', '32', '39', '31', '35', '34', '39', '43', '28', '24', '5', '27', '12', '16', '9', '15', '9', '14', '14']

In [45]:
#extect the Points for the Match


Points=[]
i=1
while i < len(Match):
    Points.append(Match[i])
    i += 2
        
print(Points)

['6,102', '3,716', '4,344', '3,345', '3,490', '2,989', '3,297', '3,285', '1,549', '1,256', '222', '1,121', '479', '419', '161', '259', '152', '185', '0']

In [46]:
## Now extect all the tags where we have jobs titles .

ODI_Rating = ODI_soup.find_all("td", class_="table-body__cell u-text-right rating")
ODI_Rating[0:4]

##now we extact the text form the these tegs by using for loop over the tags

[<td class="table-body__cell u-text-right rating">117</td>,
 <td class="table-body__cell u-text-right rating">116</td>,
 <td class="table-body__cell u-text-right rating">111</td>,
 <td class="table-body__cell u-text-right rating">108</td>]

In [47]:
for i in ODI_Rating:
    Rating.append(i.get_text().replace("\n"," "))

Rating[0:4]

['117', '116', '111', '108']

In [48]:
## check the length of all 4 columns 

print(len(Team), len(Total_Match),len(Points),len(Rating))

20 19 19 19

In [49]:
## check the Type of all 4 columns 

print(type(Team))
print(type(Total_Match))
print(type(Points))
print(type(Rating))

<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [50]:
## now add the Englend Team Data manualy
Total_Match.insert(0, '44')
Points.insert(0, '5405')
Rating.insert(0, '123')

In [51]:
## check the again check the length of all 4 columns 

print(len(Team), len(Total_Match),len(Points),len(Rating))

20 20 20 20

In [52]:
## creat a Dataframe 
import pandas as pd

Top_10_Man = pd.DataFrame({})
Top_10_Man["Team_name"] = Team
Top_10_Man["Total_Match"] = Total_Match
Top_10_Man["Points"] = Points
Top_10_Man["Rating"] = Rating

In [53]:
Top_10_Man.head(11)

       Team_name Total_Match Points Rating
0        England          44   5405    123
1          India          52  6,102    117
2    New Zealand          32  3,716    116
3      Australia          39  4,344    111
4   South Africa          31  3,345    108
5       Pakistan          35  3,490    100
6     Bangladesh          34  2,989     88
7      Sri Lanka          39  3,297     85
8    West Indies          43  3,285     76
9    Afghanistan          28  1,549     55
10       Ireland          24  1,256     52

# Question 5:- 

## 2)-- Top 10 TEST Batsmen in men along with the records of their team and rating.

In [54]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [55]:
## Lode the source code
page_ODI_Bat = rs.get("https://www.icc-cricket.com/rankings/mens/player-rankings/test/batting")
page_ODI_Bat

In [56]:
## Now parse the source code bu BeautifulSoup and the parser used here is html parse as source code in html

ODI_soup_Bat = Soup(page_ODI_Bat.content , "html.parser")

In [57]:
## create 3 empty list
Batsmen_Name = []
Team = []
Rating =  []

In [58]:
### Now extect all the tags where we have Batsmen_Name.

Batsmen = ODI_soup_Bat.find_all("td", class_ ="table-body__cell rankings-table__name name")
Batsmen[0:4]

[<td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/271">Steve Smith</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/164">Virat Kohli</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/4029">Marnus Labuschagne</a>
 </td>,
 <td class="table-body__cell rankings-table__name name">
 <a href="/rankings/mens/player-rankings/2759">Babar Azam</a>
 </td>]

In [59]:
### Extect the text for the tags 

for i in Batsmen:
    Batsmen_Name.append(i.get_text().replace("\n"," "))
    
Batsmen_Name[0:3]

[' Steve Smith ', ' Virat Kohli ', ' Marnus Labuschagne ']

In [60]:
## Now extect all the tags where we have Team_Name .

Team_Name = ODI_soup_Bat.find_all("span", class_="table-body__logo-text")
Team_Name[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
 
for i in Team_Name:
    Team.append(i.get_text().replace("\n"," "))

Team[0:4]

['AUS', 'IND', 'AUS', 'PAK']

In [61]:
## Now extect all the tags where we have Rating .

Rating_Bat = ODI_soup_Bat.find_all("td", class_="table-body__cell rating")
Rating_Bat[0:4]

##now we extact the text form the these tegs by using for loop over the tags

[<td class="table-body__cell rating">900</td>,
 <td class="table-body__cell rating">870</td>,
 <td class="table-body__cell rating">866</td>,
 <td class="table-body__cell rating">781</td>]

In [62]:
for i in Rating_Bat:
    Rating.append(i.get_text().replace("\n"," "))

Rating[0:4]

['900', '870', '866', '781']

In [63]:
## c check the length of all 3 columns 

print(len(Team), len(Batsmen_Name),len(Rating))

99 99 99

In [64]:
## Add the top players records in the lists 
Batsmen_Name.insert(0 , 'Kane Williamson')
Team.insert(0 ,'NZ')
Rating.insert(0,'919')

In [65]:
# now  again check the length of all columns 

print(len(Team), len(Batsmen_Name),len(Rating))

100 100 100

In [66]:
## create the DataFrame 

import pandas as pd

Top_Batsmen_ODI = pd.DataFrame({})
Top_Batsmen_ODI["Batsmen_Names"]=Batsmen_Name
Top_Batsmen_ODI["Team_Names"]=Team
Top_Batsmen_ODI["Rating"]=Rating

In [67]:
Top_Batsmen_ODI.head(10)

          Batsmen_Names Team_Names Rating
0       Kane Williamson         NZ    919
1          Steve Smith         AUS    900
2          Virat Kohli         IND    870
3   Marnus Labuschagne         AUS    866
4           Babar Azam         PAK    781
5           Ben Stokes         ENG    760
6       Ajinkya Rahane         IND    756
7    Cheteshwar Pujara         IND    753
8       Henry Nicholls          NZ    747
9         David Warner         AUS    745

# Question 5:-

 ## 3) Top 10 ODI bowlers along with the records of their team and rating.

In [68]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [69]:
## Lode the source code
page_ODI_Bow = rs.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling")
page_ODI_Bow

In [70]:
## Now parse the source code bu BeautifulSoup and the parser used here is html parse as source code in html

ODI_soup_Bow = Soup(page_ODI_Bow.content , "html.parser")

In [71]:
## create 3 empty list
Bowler_Name = []
Teams = []
Ratings =  []

In [72]:
### Now extect all the tags where we have Bowler_Name.

Bowler = ODI_soup_Bow.find_all("td", class_ ="table-body__cell rankings-table__name name")
Bowler[0:4]
### Extect the text for the tags 

for i in Bowler:
    Bowler_Name.append(i.get_text().replace("\n"," "))
    
Bowler_Name[0:3]

[' Mujeeb Ur Rahman ', ' Jasprit Bumrah ', ' Chris Woakes ']

In [73]:
## Now extect all the tags where we have Team_Name .

Team_Name_B = ODI_soup_Bow.find_all("span", class_="table-body__logo-text")
Team_Name_B[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
 
for i in Team_Name_B:
    Teams.append(i.get_text().replace("\n"," "))

Teams[0:4]

['AFG', 'IND', 'ENG', 'SA']

In [74]:
## Now extect all the tags where we have Rating .

Rating_Bows = ODI_soup_Bow.find_all("td", class_="table-body__cell rating")
Rating_Bows[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
for i in Rating_Bows:
    Ratings.append(i.get_text().replace("\n"," "))

Ratings[0:4]

['701', '700', '675', '665']

In [75]:
## c check the length of all 3 columns 

print(len(Teams), len(Bowler_Name),len(Ratings))

99 99 99

In [76]:
## Add the top players records in the lists 
Bowler_Name.insert(0 , 'Trent Boult')
Teams.insert(0 ,'NZ')
Ratings.insert(0,'722')

In [77]:
# now  again check the length of all columns 

print(len(Teams), len(Bowler_Name),len(Ratings))

100 100 100

In [78]:
## create the DataFrame 

import pandas as pd

Top_Bowler_ODI = pd.DataFrame({})
Top_Bowler_ODI["Batsmen_Names"]=Bowler_Name
Top_Bowler_ODI["Team_Names"]=Teams
Top_Bowler_ODI["Rating"]=Ratings

Top_Bowler_ODI.head()

        Batsmen_Names Team_Names Rating
0         Trent Boult         NZ    722
1   Mujeeb Ur Rahman         AFG    701
2     Jasprit Bumrah         IND    700
3       Chris Woakes         ENG    675
4      Kagiso Rabada          SA    665

# Question :-6

## Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

   ## 1) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [79]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

## Lode the source code
page_ODI_W = rs.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")


## Now parse the source code bu BeautifulSoup and the parser used here is html parse as source code in html

ODI_soup_W = Soup(page_ODI_W.content , "html.parser")

In [80]:
## create 4 empty list

Team = []
Match = []
Points = []
Rating =  []

In [81]:
## Now extect all the tags where we have Team name.

W_Team = ODI_soup_W.find_all("span", class_="u-hide-phablet")
W_Team[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
 
for i in W_Team:
    Team.append(i.get_text().replace("\n"," "))

In [82]:
## take only top 10 teams

Team=Team[0:10]
Team[0:11]

['Australia',
 'India',
 'England',
 'South Africa',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [83]:
## Now extect all the tags where we have Matchs .

ODI_Match_W = ODI_soup_W.find_all("td", class_="table-body__cell u-center-text")
ODI_Match_W[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
 
for i in ODI_Match_W:
    Match.append(i.get_text().replace("\n"," "))

Match[0:4]

['15', '1,812', '14', '1,670']

In [84]:
## we get both the data in on class so we clean the data / extect the (nb of match )  and Points
Total_Match=[]
i=0
while i < len(Match):
    Total_Match.append(Match[i])
    i += 2
        
print(Total_Match)

['15', '14', '16', '15', '12', '12', '5', '11', '2']

In [85]:
#extect the Points for the Match

Points=[]
i=1
while i < len(Match):
    Points.append(Match[i])
    i += 2
        
print(Points)

['1,812', '1,670', '1,713', '1,384', '1,025', '927', '306', '519', '25']

In [86]:
## Now extect all the tags where we have Ratings titles .

ODI_Rating_W = ODI_soup_W.find_all("td", class_="table-body__cell u-text-right rating")
ODI_Rating_W[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
 
for i in ODI_Rating_W:
    Rating.append(i.get_text().replace("\n"," "))

Rating[0:4]

['121', '119', '107', '92']

In [87]:
## check the again check the length of all 4 columns 

print(len(Team), len(Total_Match),len(Points),len(Rating))

10 9 9 9

In [88]:
## now add the Englend Team Data manualy
Total_Match.insert(0, '15')
Points.insert(0, '2436')
Rating.insert(0, '163')

In [89]:
## creat a Dataframe 
import pandas as pd

Top_10_Woman = pd.DataFrame({})
Top_10_Woman["Team_name"] = Team
Top_10_Woman["Total_Match"] = Total_Match
Top_10_Woman["Points"] = Points
Top_10_Woman["Rating"] = Rating

In [90]:
Top_10_Woman

      Team_name Total_Match Points Rating
0     Australia          15   2436    163
1         India          15  1,812    121
2       England          14  1,670    119
3  South Africa          16  1,713    107
4   New Zealand          15  1,384     92
5   West Indies          12  1,025     85
6      Pakistan          12    927     77
7    Bangladesh           5    306     61
8     Sri Lanka          11    519     47
9       Ireland           2     25     13

# Question :-6

## Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

  ## 2) Top 10 women’s ODI players along with the records of their team and rating.

In [91]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [92]:
## Lode the source code
page_ODI_Bat_w = rs.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting")
page_ODI_Bat_w

In [93]:
## Now parse the source code bu BeautifulSoup and the parser used here is html parse as source code in html

ODI_soup_Bat_w = Soup(page_ODI_Bat_w.content , "html.parser")

In [94]:
## create 3 empty list
Player_Name = []
Team_W = []
Ratings_W =  []

In [95]:
### Now extect all the tags where we have Batsmen_Name.

player_W = ODI_soup_Bat_w.find_all("td", class_ ="table-body__cell rankings-table__name name")
player_W[0:4]
### Extect the text for the tags 

for i in player_W:
    Player_Name.append(i.get_text().replace("\n"," "))
    
Player_Name[0:3]

[' Stafanie Taylor ', ' Alyssa Healy ', ' Smriti Mandhana ']

In [96]:
## Now extect all the tags where we have Team_Name .

Team_Name_W = ODI_soup_Bat_w.find_all("span", class_="table-body__logo-text")
Team_Name_W[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
 
for i in Team_Name_W:
    Team_W.append(i.get_text().replace("\n"," "))

Team_W[0:4]

['WI', 'AUS', 'IND', 'NZ']

In [97]:
## Now extect all the tags where we have Rating .

Rating_Bat_w = ODI_soup_Bat_w.find_all("td", class_="table-body__cell rating")
Rating_Bat_w[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
for i in Rating_Bat_w:
    Ratings_W.append(i.get_text().replace("\n"," "))

Ratings_W[0:4]

['746', '741', '732', '723']

In [98]:
##  check the length of all 3 columns 

print(len(Team_W), len(Player_Name),len(Ratings_W))

99 99 99

In [99]:
## Add the top players records in the lists 
Player_Name.insert(0 , 'Meg Lanning')
Team_W.insert(0 ,'AUS')
Ratings_W.insert(0,'749')

In [100]:
##  again check the length of all 3 columns 

print(len(Team_W), len(Player_Name),len(Ratings_W))

100 100 100

In [101]:
## create the DataFrame 

import pandas as pd

Top_player_ODI_W = pd.DataFrame({})
Top_player_ODI_W["Batsmen_Names"]=Player_Name
Top_player_ODI_W["Team_Names"]=Team_W
Top_player_ODI_W["Rating"]=Ratings_W

Top_player_ODI_W.head()

         Batsmen_Names Team_Names Rating
0          Meg Lanning        AUS    749
1     Stafanie Taylor          WI    746
2        Alyssa Healy         AUS    741
3     Smriti Mandhana         IND    732
4   Amy Satterthwaite          NZ    723

# Qustion 6:- 

## 3) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [102]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [103]:
## Lode the source code
page_ODI_ALL = rs.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")
page_ODI_ALL

In [104]:
## Now parse the source code bu BeautifulSoup and the parser used here is html parse as source code in html

ODI_soup_ALL = Soup(page_ODI_ALL.content , "html.parser")

In [105]:
## create 3 empty list
All_Rounder_Name = []
Team_All = []
Rating_All =  []

In [106]:
### Now extect all the tags where we have All_Rounder_Name.

All_Rounder = ODI_soup_ALL.find_all("td", class_ ="table-body__cell rankings-table__name name")
All_Rounder[0:4]
### Extect the text for the tags 

for i in All_Rounder:
    All_Rounder_Name.append(i.get_text().replace("\n"," "))
    
All_Rounder_Name[0:3]

[' Stafanie Taylor ', ' Marizanne Kapp ', ' Deepti Sharma ']

In [107]:
## Now extect all the tags where we have Team_Name .

Team_Name_All = ODI_soup_ALL.find_all("span", class_="table-body__logo-text")
Team_Name_All[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
 
for i in Team_Name_All:
    Team_All.append(i.get_text().replace("\n"," "))

Team_All[0:4]

['WI', 'SA', 'IND', 'SA']

In [108]:
## Now extect all the tags where we have Team_Name .

Team_Name_All = ODI_soup_ALL.find_all("span", class_="table-body__logo-text")
Team_Name_All[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
 
for i in Team_Name_All:
    Team_All.append(i.get_text().replace("\n"," "))

Team_All[0:4]

['WI', 'SA', 'IND', 'SA']

In [109]:
## Now extect all the tags where we have Rating .

Rating_All_W = ODI_soup_ALL.find_all("td", class_="table-body__cell rating")
Rating_All_W[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
for i in Rating_All_W:
    Rating_All.append(i.get_text().replace("\n"," "))

Rating_All[0:4]

['410', '389', '359', '335']

In [110]:
##  check the length of all 3 columns 

print(len(Team_All), len(All_Rounder_Name),len(Rating_All))

38 19 19

In [111]:
## Add the top players records in the lists 
All_Rounder_Name.insert(0 , 'Ellyse Perry')
Team_All.insert(0 ,'AUS')
Rating_All.insert(0,'460')

In [112]:
## again check the length of all 3 columns 

print(len(Team_All), len(All_Rounder_Name),len(Rating_All))

39 20 20

In [115]:
## create the DataFrame 

import pandas as pd

All_ODI_W = pd.DataFrame({})
All_ODI_W["All_Rounder_Name"]=All_Rounder_Name
All_ODI_W["Team_Names"]=Team_All[0:20]
All_ODI_W["Rating"]=Rating_All

All_ODI_W.head()

     All_Rounder_Name Team_Names Rating
0        Ellyse Perry        AUS    460
1    Stafanie Taylor          WI    410
2     Marizanne Kapp          SA    389
3      Deepti Sharma         IND    359
4   Dane van Niekerk          SA    335

# Question 7:-

## Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [116]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [117]:
HEADERS = ({'User-Agent':
            'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/44.0.2403.157 Safari/537.36',
            'Accept-Language': 'en-US, en;q=0.5'})

In [118]:
## Lode the source code
url = "https://www.amazon.in/s?k=mobile+under+20000&rh=p_36%3A500000-2000000&crid=3KJ0WEF6R63UF&qid=1610700723&rnid=1318502031&sprefix=mobi%2Caps%2C486&ref=sr_nr_p_36_4"
page_Amz = rs.get(url , headers=HEADERS)
print(page_Amz)
## Now parse the source code bu BeautifulSoup and the parser used here is html parse as source code in html

<Response [200]>

In [119]:
## Now parse the source code bu BeautifulSoup and the parser
Amz_soup = Soup(page_Amz.content , "html.parser" )
print(Amz_soup)

<!DOCTYPE html>
<html class="a-no-js" data-19ax5a9jf="dingo" lang="en-in"><!-- sp:feature:head-start -->
<head><script>var aPageStart = (new Date()).getTime();</script><meta charset="utf-8"/>
<script type="text/javascript">var ue_t0=ue_t0||+new Date();</script>
<!-- sp:feature:cs-optimization -->
<meta content="on" http-equiv="x-dns-prefetch-control"/>
<link href="https://images-eu.ssl-images-amazon.com" rel="dns-prefetch"/>
<link href="https://m.media-amazon.com" rel="dns-prefetch"/>
<link href="https://completion.amazon.com" rel="dns-prefetch"/>
<script type="text/javascript">
window.ue_ihb = (window.ue_ihb || window.ueinit || 0) + 1;
if (window.ue_ihb === 1) {

var ue_csm = window,
    ue_hob = +new Date();
(function(d){var e=d.ue=d.ue||{},f=Date.now||function(){return+new Date};e.d=function(b){return f()-(b?0:d.ue_t0)};e.stub=function(b,a){if(!b[a]){var c=[];b[a]=function(){c.push([c.slice.call(arguments),e.d(),d.ue_id])};b[a].replay=function(b){for(var a;a=c.shift();)b(a[0],a[1],a[2])};b[a].isStub=1}};e.exec=function(b,a){return function(){try{return b.apply(this,arguments)}catch(c){ueLogError(c,{attribution:a||"undefined",logLevel:"WARN"})}}}})(ue_csm);


    var ue_err_chan = 'jserr-rw';
(function(d,e){function h(f,b){if(!(a.ec>a.mxe)&&f){a.ter.push(f);b=b||{};var c=f.logLevel||b.logLevel;c&&c!==k&&c!==m&&c!==n&&c!==p||a.ec++;c&&c!=k||a.ecf++;b.pageURL=""+(e.location?e.location.href:"");b.logLevel=c;b.attribution=f.attribution||b.attribution;a.erl.push({ex:f,info:b})}}function l(a,b,c,e,g){d.ueLogError({m:a,f:b,l:c,c:""+e,err:g,fromOnError:1,args:arguments},g?{attribution:g.attribution,logLevel:g.logLevel}:void 0);return!1}var k="FATAL",m="ERROR",n="WARN",p="DOWNGRADED",a={ec:0,ecf:0,
pec:0,ts:0,erl:[],ter:[],mxe:50,startTimer:function(){a.ts++;setInterval(function(){d.ue&&a.pec<a.ec&&d.uex("at");a.pec=a.ec},1E4)}};l.skipTrace=1;h.skipTrace=1;h.isStub=1;d.ueLogError=h;d.ue_err=a;e.onerror=l})(ue_csm,window);


var ue_id = 'ZR1E8BCAN3KR351B6FBC',
    ue_url = '/rd/uedata',
    ue_navtiming = 1,
    ue_mid = 'A21TJRUUN4KGV',
    ue_sid = '258-8217098-9409765',
    ue_sn = 'www.amazon.in',
    ue_furl = 'fls-eu.amazon.in',
    ue_surl = 'https://unagi-eu.amazon.com/1/events/com.amazon.csm.nexusclient.prod',
    ue_int = 0,
    ue_fcsn = 1,
    ue_urt = 3,
    ue_rpl_ns = 'cel-rpl',
    ue_ddq = 1,
    ue_fpf = '//fls-eu.amazon.in/1/batch/1/OP/A21TJRUUN4KGV:258-8217098-9409765:ZR1E8BCAN3KR351B6FBC$uedata=s:',
    ue_sbuimp = 1,
    ue_bfd = 400,
    ue_fnt = 0,

    ue_swi = 1;
var ue_viz=function(){(function(c,e,a){function k(b){if(c.ue.viz.length<p&&!l){var a=b.type;b=b.originalEvent;/^focus./.test(a)&&b&&(b.toElement||b.fromElement||b.relatedTarget)||(a=e[m]||("blur"==a||"focusout"==a?"hidden":"visible"),c.ue.viz.push(a+":"+(+new Date-c.ue.t0)),"visible"==a&&(ue.isl&&uex("at"),l=1))}}for(var l=0,f,g,m,n=["","webkit","o","ms","moz"],d=0,p=20,h=0;h<n.length&&!d;h++)if(a=n[h],f=(a?a+"H":"h")+"idden",d="boolean"==typeof e[f])g=a+"visibilitychange",m=(a?a+"V":"v")+"isibilityState";
k({});d&&e.addEventListener(g,k,0);c.ue&&d&&(c.ue.pageViz={event:g,propHid:f})})(ue_csm,document,window)};

(function(d,k,L){function F(a){return a&&a.replace&&a.replace(/^\s+|\s+$/g,"")}function t(a){return"undefined"===typeof a}function B(a,b){for(var c in b)b[u](c)&&(a[c]=b[c])}function G(a){try{var b=L.cookie.match(RegExp("(^| )"+a+"=([^;]+)"));if(b)return b[2].trim()}catch(c){}}function M(n,b,c){var e=(v||{}).type;2!==e&&1!==e&&(n&&(d.ue_id=a.id=a.rid=n,w=w.replace(/((.*?:){2})(\w+)/,function(a,b){return b+n})),b&&(w=w.replace(/(.*?:)(\w|-)+/,function(a,c){return c+b}),d.ue_sid=b),c&&a.tag("page-source:"+
c),d.ue_fpf=w)}function N(){var a={};return function(b){b&&(a[b]=1);b=[];for(var c in a)a[u](c)&&b.push(c);return b}}function x(d,b,c,e){e=e||+new C;var h,p;if(b||t(c)){if(d)for(p in h=b?g("t",b)||g("t",b,{}):a.t,h[d]=e,c)c[u](p)&&g(p,b,c[p]);return e}}function g(d,b,c){var e=b&&b!=a.id?a.sc[b]:a;e||(e=a.sc[b]={});"id"===d&&c&&(O=1);return e[d]=c||e[d]}function P(d,b,c,e,h){c="on"+c;var g=b[c];"function"===typeof g?d&&(a.h[d]=g):g=function(){};b[c]=function(a){h?(e(a),g(a)):(g(a),e(a))};b[c]&&(b[c].isUeh=
1)}function Q(n,b,c,e){function r(b,c){var d=[b],e=0,f={},h,k;c?(d.push("m=1"),f[c]=1):f=a.sc;for(k in f)if(f[u](k)){var r=g("wb",k),l=g("t",k)||{},p=g("t0",k)||a.t0,m;if(c||2==r){r=r?e++:"";d.push("sc"+r+"="+k);for(m in l)3>=m.length&&!t(l[m])&&null!==l[m]&&d.push(m+r+"="+(l[m]-p));d.push("t"+r+"="+l[n]);if(g("ctb",k)||g("wb",k))h=1}}!H&&h&&d.push("ctb=1");return d.join("&")}function p(b,c,f,e){if(b){var g=d.ue_err;d.ue_url&&!e&&b&&0<b.length&&(e=new Image,a.iel.push(e),e.src=b,a.count&&a.count("postbackImageSize",
b.length));if(w){var h=k.encodeURIComponent;h&&b&&(e=new Image,b=""+d.ue_fpf+h(b)+":"+(+new C-d.ue_t0),a.iel.push(e),e.src=b)}else a.log&&(a.log(b,"uedata",{n:1}),a.ielf.push(b));g&&!g.ts&&g.startTimer();a.b&&(g=a.b,a.b="",p(g,c,f,1))}}function z(b){var c=v?v.type:D,d=2==c||a.isBFonMshop,c=c&&!d,e=a.bfini;O||(e&&1<e&&(b+="&bfform=1",c||(a.isBFT=e-1)),d&&(b+="&bfnt=1",a.isBFT=a.isBFT||1),a.ssw&&a.isBFT&&(a.isBFonMshop&&(a.isNRBF=0),t(a.isNRBF)&&(d=a.ssw(a.oid),d.e||t(d.val)||(a.isNRBF=1<d.val?0:1)),
t(a.isNRBF)||(b+="&nrbf="+a.isNRBF)),a.isBFT&&!a.isNRBF&&(b+="&bft="+a.isBFT));return b}if(!a.paused&&(b||t(c))){for(var m in c)c[u](m)&&g(m,b,c[m]);a.isBFonMshop||x("pc",b,c);m=g("id",b)||a.id;var s=g("id2",b),f=a.url+"?"+n+"&v="+a.v+"&id="+m,H=g("ctb",b)||g("wb",b),y;H&&(f+="&ctb="+H);s&&(f+="&id2="+s);1<d.ueinit&&(f+="&ic="+d.ueinit);if(!("ld"!=n&&"ul"!=n||b&&b!=m)){if("ld"==n){try{k[I]&&k[I].isUeh&&(k[I]=null)}catch(G){}if(k.chrome)for(s=0;s<J.length;s++)R(E,J[s]);(s=L.ue_backdetect)&&s.ue_back&&
s.ue_back.value++;d._uess&&(y=d._uess());a.isl=1}a._bf&&(f+="&bf="+a._bf());d.ue_navtiming&&h&&(g("ctb",m,"1"),a.isBFonMshop||x("tc",D,D,K));!A||a.isBFonMshop||S||(h&&B(a.t,{na_:h.navigationStart,ul_:h.unloadEventStart,_ul:h.unloadEventEnd,rd_:h.redirectStart,_rd:h.redirectEnd,fe_:h.fetchStart,lk_:h.domainLookupStart,_lk:h.domainLookupEnd,co_:h.connectStart,_co:h.connectEnd,sc_:h.secureConnectionStart,rq_:h.requestStart,rs_:h.responseStart,_rs:h.responseEnd,dl_:h.domLoading,di_:h.domInteractive,de_:h.domContentLoadedEventStart,
_de:h.domContentLoadedEventEnd,_dc:h.domComplete,ld_:h.loadEventStart,_ld:h.loadEventEnd,ntd:("function"!==typeof A.now||t(K)?0:new C(K+A.now())-new C)+a.t0}),v&&B(a.t,{ty:v.type+a.t0,rc:v.redirectCount+a.t0}),S=1);a.isBFonMshop||B(a.t,{hob:d.ue_hob,hoe:d.ue_hoe});a.ifr&&(f+="&ifr=1")}x(n,b,c,e);c="ld"==n&&b&&g("wb",b);var q,l;c||b&&b!==m||$(b);c||m==a.oid||aa(m,(g("t",b)||{}).tc||+g("t0",b),+g("t0",b));(e=d.ue_mbl)&&e.cnt&&!c&&(f+=e.cnt());c?g("wb",b,2):"ld"==n&&(a.lid=F(m));for(q in a.sc)if(1==
g("wb",q))break;if(c){if(a.s)return;f=r(f,null)}else e=r(f,null),e!=f&&(e=z(e),a.b=e),y&&(f+=y),f=r(f,b||a.id);f=z(f);if(a.b||c)for(q in a.sc)2==g("wb",q)&&delete a.sc[q];y=0;a._rt&&(f+="&rt="+a._rt());e=k.csa;if(!c&&e)for(l in q=g("t",b)||{},e=e("PageTiming"),q)q[u](l)&&e("mark",ba[l]||l,q[l]);c||(a.s=0,(l=d.ue_err)&&0<l.ec&&l.pec<l.ec&&(l.pec=l.ec,f+="&ec="+l.ec+"&ecf="+l.ecf),y=g("ctb",b),"ld"!==n||b||a.markers||(a.markers={},B(a.markers,g("t",b))),g("t",b,{}));a.tag&&a.tag().length&&(f+="&csmtags="+
a.tag().join("|"),a.tag=N());l=a.viz||[];(q=l.length)&&(f+="&viz="+l.splice(0,q).join("|"));t(d.ue_pty)||(f+="&pty="+d.ue_pty+"&spty="+d.ue_spty+"&pti="+d.ue_pti);a.tabid&&(f+="&tid="+a.tabid);a.aftb&&(f+="&aftb=1");!a._ui||b&&b!=m||(f+=a._ui());a.a=f;p(f,n,y,c)}}function $(a){var b=k.ue_csm_markers||{},c;for(c in b)b[u](c)&&x(c,a,D,b[c])}function z(a,b,c){c=c||k;if(c[T])c[T](a,b,!1);else if(c[U])c[U]("on"+a,b)}function R(a,b,c){c=c||k;if(c[V])c[V](a,b,!1);else if(c[W])c[W]("on"+a,b)}function X(){function a(){d.onUl()}
function b(a){return function(){c[a]||(c[a]=1,Q(a))}}var c={},e,g;d.onLd=b("ld");d.onLdEnd=b("ld");d.onUl=b("ul");e={stop:b("os")};k.chrome?(z(E,a),J.push(a)):e[E]=d.onUl;for(g in e)e[u](g)&&P(0,k,g,e[g]);d.ue_viz&&ue_viz();z("load",d.onLd);x("ue")}function aa(g,b,c){var e=d.ue_mbl,h=k.csa,p=h&&h("SPA"),h=h&&h("PageTiming");e&&e.ajax&&e.ajax(b,c);p&&h&&(p("newPage",{requestId:g,transitionType:"soft"}),h("mark","transitionStart",b));a.tag("ajax-transition")}d.ueinit=(d.ueinit||0)+1;var a=d.ue=d.ue||
{};a.t0=k.aPageStart||d.ue_t0;a.id=d.ue_id;a.url=d.ue_url;a.rid=d.ue_id;a.a="";a.b="";a.h={};a.s=1;a.t={};a.sc={};a.iel=[];a.ielf=[];a.viz=[];a.v="0.215226.0";a.paused=!1;var u="hasOwnProperty",E="beforeunload",I="on"+E,T="addEventListener",V="removeEventListener",U="attachEvent",W="detachEvent",ba={cf:"criticalFeature",af:"aboveTheFold",fn:"functional",fp:"firstPaint",fcp:"firstContentfulPaint",bb:"bodyBegin",be:"bodyEnd",ld:"loaded"},C=k.Date,A=k.performance||k.webkitPerformance,h=(A||{}).timing,
v=(A||{}).navigation,K=(h||{}).navigationStart,w=d.ue_fpf,O=0,S=0,J=[],D;a.oid=F(a.id);a.lid=F(a.id);a._t0=a.t0;a.tag=N();a.ifr=k.top!==k.self||k.frameElement?1:0;a.markers=null;a.attach=z;a.detach=R;if("000-0000000-8675309"===d.ue_sid){var Y=G("cdn-rid"),Z=G("session-id");Y&&Z&&M(Y,Z,"cdn")}d.uei=X;d.ueh=P;d.ues=g;d.uet=x;d.uex=Q;a.reset=M;a.pause=function(d){a.paused=d};X()})(ue_csm,window,ue_csm.document);


ue.stub(ue,"event");ue.stub(ue,"onSushiUnload");ue.stub(ue,"onSushiFlush");

ue.stub(ue,"log");ue.stub(ue,"onunload");ue.stub(ue,"onflush");
(function(c){var a=c.ue;a.cv={};a.cv.scopes={};a.count=function(d,c,b){var e={},f=a.cv,g=b&&0===b.c;e.counter=d;e.value=c;e.t=a.d();b&&b.scope&&(f=a.cv.scopes[b.scope]=a.cv.scopes[b.scope]||{},e.scope=b.scope);if(void 0===c)return f[d];f[d]=c;d=0;b&&b.bf&&(d=1);ue_csm.ue_sclog||!a.clog||0!==d||g?a.log&&a.log(e,"csmcount",{c:1,bf:d}):a.clog(e,"csmcount",{bf:d})};a.count("baselineCounter2",1);a&&a.event&&(a.event({requestId:c.ue_id||"rid",server:c.ue_sn||"sn",obfuscatedMarketplaceId:c.ue_mid||"mid"},
"csm","csm.CSMBaselineEvent.4"),a.count("nexusBaselineCounter",1,{bf:1}))})(ue_csm);



var ue_hoe = +new Date();
}
window.ueinit = window.ue_ihb;
</script>
<!-- 3

In [120]:
## create 3 empty list
Moblie_Name = []
Price = []
Avg_Rating =  []

In [121]:
# Outer Tag Object
Mobile = Amz_soup.find_all("span", attrs={"class":"a-size-medium a-color-base a-text-normal","dir":"auto"})
Mobile[0:4]

#now we extact the text form the these tegs by using for loop over the tags 
for i in Mobile:
    Moblie_Name.append(i.get_text().replace("\n"," "))

Moblie_Name[0:4]

['Vivo Y51 (Titanium Sapphire, 8GB RAM, 128GB ROM) with No Cost EMI/Additional Exchange Offers',
 'R Realme Narzo 20 (Victory Blue, 4GB+128GB)',
 'Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128GB Storage)',
 'Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB Storage)']

In [122]:
len(Moblie_Name)

22

In [123]:
# find the price of the phone :-
Money = Amz_soup.find_all("span", attrs={"class":"a-price-whole"})
Money[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
for i in Money:
    Price.append(i.get_text().replace("\n"," "))

Price[0:4]

['17,990', '12,699', '17,999', '15,999']

In [124]:
len(Price)

22

In [125]:
# find the Average rating  of the phone :-

A_rating = Amz_soup.find_all("i", attrs={"class":"a-icon a-icon-star-small a-star-small-4 aok-align-bottom"})
A_rating[0:4]

##now we extact the text form the these tegs by using for loop over the tags 
for i in A_rating:
    Avg_Rating.append(i.get_text().replace("\n"," "))

Avg_Rating[0:4]

['4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.0 out of 5 stars',
 '4.2 out of 5 stars']

In [126]:
len(Avg_Rating)

14

In [127]:
# find the Img_Url of the phone :-


# Fetch links as List of Tag Objects
links_img = Amz_soup.find_all("img", attrs={'class':'s-image'})

# Store the links
links_list = []
 
# Loop for extracting links from Tag Objects
for link in links_img:
    if(link.get("src") != "#"):
        links_list.append(link.get('src'))
        
links_list[0:4]

['https://m.media-amazon.com/images/I/61EJv4xde4L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/51Rl+pkTVUL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61d-phh4GfL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg']

In [128]:
##  check the length of all 4 columns 

print(len(Moblie_Name), len(Price),len(links_list),len(Avg_Rating))

22 22 26 14

In [129]:
Moblie_Name=Moblie_Name[0:13]
Price=Price[0:13]
links_list=links_list[0:13]
Avg_Rating=Avg_Rating[0:13]

In [130]:
##  check the length of all 4 columns 

print(len(Moblie_Name), len(Price),len(links_list),len(Avg_Rating))

13 13 13 13

In [131]:
## create the DataFrame 

import pandas as pd

Amz_mobile_data = pd.DataFrame({})
Amz_mobile_data["Moblie_Name"]=Moblie_Name
Amz_mobile_data["Price"]=Price
Amz_mobile_data["Avg_Rating"]=Avg_Rating
Amz_mobile_data["Link"]=links_list


Amz_mobile_data.head()

,Moblie_Name,Price,Avg_Rating,Link
0,"Vivo Y51 (Titanium Sapphire, 8GB RAM, 128GB RO...","17,990",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61EJv4xde4...
1,"R Realme Narzo 20 (Victory Blue, 4GB+128GB)","12,699",4.2 out of 5 stars,https://m.media-amazon.com/images/I/51Rl+pkTVU...
2,"Samsung Galaxy M31s (Mirage Blue, 6GB RAM, 128...","17,999",4.0 out of 5 stars,https://m.media-amazon.com/images/I/61d-phh4Gf...
3,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","15,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71-Su4Wr0H...
4,"Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64...","12,499",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71dujTTJDZ...

# Question 8:-

### Write a python program to extract information about the local weather from the National Weather Service
### website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day
### extended forecast display for the city. The data should include period, short description, temperature and description.

In [132]:
##  import the requried  libraries for web -scraping
from urllib.request import urlopen
from bs4 import BeautifulSoup as Soup
import requests as rs

In [133]:
## Lode the source code
page_weather = rs.get("https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YAKtTsUzYUs")
page_weather
## Now parse the source code bu BeautifulSoup and the parser
weather_soup = Soup(page_weather.content , "html.parser" )
print(weather_soup)

<!DOCTYPE html>

<html class="no-js">
<head>
<!-- Meta -->
<meta content="width=device-width" name="viewport"/>
<link href="http://purl.org/dc/elements/1.1/" rel="schema.DC"/><title>National Weather Service</title><meta content="National Weather Service" name="DC.title"><meta content="NOAA National Weather Service National Weather Service" name="DC.description"/><meta content="US Department of Commerce, NOAA, National Weather Service" name="DC.creator"/><meta content="" name="DC.date.created" scheme="ISO8601"/><meta content="EN-US" name="DC.language" scheme="DCTERMS.RFC1766"/><meta content="weather, National Weather Service" name="DC.keywords"/><meta content="NOAA's National Weather Service" name="DC.publisher"/><meta content="National Weather Service" name="DC.contributor"/><meta content="http://www.weather.gov/disclaimer.php" name="DC.rights"/><meta content="General" name="rating"/><meta content="index,follow" name="robots"/>
<!-- Icons -->
<link href="./images/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
<!-- CSS -->
<link href="css/bootstrap-3.2.0.min.css" rel="stylesheet"/>
<link href="css/bootstrap-theme-3.2.0.min.css" rel="stylesheet"/>
<link href="css/font-awesome-4.3.0.min.css" rel="stylesheet"/>
<link href="css/ol-4.6.4.css" rel="stylesheet" type="text/css"/>
<link href="css/mapclick.css" rel="stylesheet" type="text/css">
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="css/bootstrap-ie7.css" /><![endif]-->
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="css/mapclick-ie.css" /><![endif]-->
<link href="css/print.css" rel="stylesheet" type="text/css">
<link href="css/search.css" rel="stylesheet" type="text/css">
<!-- Javascript -->
<script src="js/lib/modernizr-2.8.3.js" type="text/javascript"></script>
<script src="js/lib/json3-3.3.2.min.js" type="text/javascript"></script>
<script src="js/lib/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="js/lib/jquery.hoverIntent-1.8.1.min.js" type="text/javascript"></script>
<script src="js/lib/bootstrap-3.2.0.min.js" type="text/javascript"></script>
<script src="js/lib/ol-4.6.4.js" type="text/javascript"></script>
<!--[if lte IE 8]><script type="text/javascript" src="js/respond.min.js"></script><![endif]-->
<script src="js/jquery.autocomplete.min.js" type="text/javascript"></script>
<script src="js/cfisurvey/cfi.js?v2" type="text/javascript"></script>
<script src="js/forecast.esri.js" type="text/javascript"></script>
<script src="js/forecast.search.js" type="text/javascript"></script>
<script src="js/forecast.openlayers.js" type="text/javascript"></script>
<script src="js/browserSniffer.js" type="text/javascript"></script>
<script src="js/federated-analytics.js" type="text/javascript"></script>
<script type="javascript">
// ForeSee Staging Embed Script v2.01
// DO NOT MODIFY BELOW THIS LINE *****************************************
;(function (g) {
  var d = document, am = d.createElement('script'), h = d.head || d.getElementsByTagName("head")[0], fsr = 'fsReady',
  aex = {
    "src": "//gateway.foresee.com/sites/weather-gov/production/gateway.min.js",
    "type": "text/javascript",
    "async": "true",
    "data-vendor": "fs",
    "data-role": "gateway"
  };
  for (var attr in aex) { am.setAttribute(attr, aex[attr]); } h.appendChild(am); g[fsr] || (g[fsr] = function () { var aT = '__' + fsr + '_stk__'; g[aT] = g[aT] || []; g[aT].push(arguments); });
})(window);
// DO NOT MODIFY ABOVE THIS LINE *****************************************
</script>
<script type="text/javascript">
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                        m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-40768555-1', 'weather.gov', {'sampleRate': 6});
            ga('set', 'anonymizeIp', true);
            ga('require', 'linkid');
            ga('send', 'pageview');
        </script>
</link></link></link></meta></head>
<body>
<main class="container">
<header class="row clearfix" id="page-header">
<a class="pull-left" href="http://www.noaa.gov" id="header-noaa"><img alt="National Oceanic and Atmospheric Administration" src="/css/images/header_noaa.png"/></a>
<a class="pull-left" href="http://www.weather.gov" id="header-nws"><img alt="National Weather Service" src="/css/images/header_nws.png"/></a>
<a class="pull-right" href="http://www.commerce.gov" id="header-doc"><img alt="United States Department of Commerce" src="/css/images/header_doc.png"/></a>
</header>
<nav class="navbar navbar-default row" role="navigation">
<div class="container-fluid">
<div class="navbar-header">
<button class="navbar-toggle collapsed" data-target="#top-nav" data-toggle="collapse" type="button">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
</div>
<div class="collapse navbar-collapse" id="top-nav">
<ul class="nav navbar-nav">
<li><a href="http://www.weather.gov">HOME</a></li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://www.weather.gov/forecastmaps">FORECAST <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li><a href="http://www.weather.gov">Local</a></li><li><a href="http://digital.weather.gov">Graphical</a></li><li><a href="http://www.aviationweather.gov/">Aviation</a></li><li><a href="http://www.nws.noaa.gov/om/marine/home.htm">Marine</a></li><li><a href="http://water.weather.gov/ahps/">Rivers and Lakes</a></li><li><a href="http://www.nhc.noaa.gov/">Hurricanes</a></li><li><a href="http://www.spc.noaa.gov/">Severe Weather</a></li><li><a href="http://www.weather.gov/fire/">Fire Weather</a></li><li><a href="https://www.esrl.noaa.gov/gmd/grad/solcalc/sunrise.html">Sun/Moon</a></li><li><a href="http://www.cpc.ncep.noaa.gov/">Long Range Forecasts</a></li><li><a href="http://www.cpc.ncep.noaa.gov">Climate Prediction</a></li><li><a href="https://www.swpc.noaa.gov/">Space Weather</a></li></ul> </li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="https://w2.weather.gov/climate">PAST WEATHER <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li><a href="https://w2.weather.gov/climate/">Past Weather</a></li><li><a href="https://w2.weather.gov/climate/">Heating/Cooling Days</a></li><li><a href="https://w2.weather.gov/climate/">Monthly Temperatures</a></li><li><a href="https://w2.weather.gov/climate/">Records</a></li><li><a href="http://aa.usno.navy.mil/">Astronomical Data</a></li></ul> </li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://www.weather.gov/safety">SAFETY <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li><a href="https://www.weather.gov/safety/flood">Floods</a></li><li><a href="https://www.weather.gov/safety/tsunami">Tsunamis</a></li><li><a href="https://www.weather.gov/safety/beachhazards">Beach Hazards</a></li><li><a href="https://www.weather.gov/safety/wildfire">Wildfire</a></li><li><a href="https://www.weather.gov/safety/cold">Cold</a></li><li><a href="https://www.weather.gov/safety/tornado">Tornadoes</a></li><li><a href="https://www.weather.gov/safety/airquality">Air Quality</a></li><li><a href="https://www.weather.gov/safety/fog">Fog</a></li><li><a href="https://www.weather.gov/safety/heat">Heat</a></li><li><a href="https://www.weather.gov/safety/hurricane">Hurricanes</a></li><li><a href="https://www.weather.gov/safety/lightning">Lightning</a></li><li><a href="https://www.weather.gov/safety/safeboating">Safe Boating</a></li><li><a href="https://www.weather.gov/safety/ripcurrent">Rip Currents</a></li><li><a href="https://www.weather.gov/safety/thunderstorm">Thunderstorms</a></li><li><a href="https://www.weather.gov/safety/space">Space Weather</a></li><li><a href="https://www.weather.gov/safety/heat-uv">Sun (Ultraviolet Radiation)</a></li><li><a href="http://www.weather.gov/safetycampaign">Safety Campaigns</a></li><li><a href="https://www.weather.gov/safety/wind">Wind</a></li><li><a href="https://www.weather.gov/safety/drought">Drought</a></li><li><a href="https://www.weather.gov/safety/winter">Winter Weather</a></li></ul> </li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://www.weather.gov/informationcenter">INFORMATION <span class="caret"></span></a><ul class="dropdown-menu" role="menu"><li><a href="http://www.weather.gov/Owlie's">Owlie's Kids Page</a></li><li><a href="http://www.weather.gov/wrn/wea">Wireless Emergency Alerts</a></li><li><a href="https://www.weather.gov/owlie/publication_brochures">Brochures</a></li><li><a href="http://www.weather.gov/wrn/">Weather-Ready Nation</a></li><li><a href="https://www.weather.gov/coop/">Cooperative Observers</a></li><li><a href="http://www.weather.gov/briefing/">Daily Briefing</a></li><li><a href="http://www.nws.noaa.gov/om/hazstats.shtml">Damage/Fatality/Injury Statistics</a></li><li><a href="http://mag.ncep.noaa.gov/">Forecast Models</a></li><li><a href="https://www.weather.gov/gis">GIS Data Portal</a></li><li><a href="https://www.weather.gov/nwr/">NOAA Weather Radio</a></li><li><a href="http://weather.gov/publications">Publications</a></li><li><a href="http://www.weather.gov/SKYWARN">SKYWARN Storm Spotters</a></li><li><a href="http://www.weather.gov/StormReady">StormReady</a></li><li><a href="https://www.weather.gov/TsunamiReady/">TsunamiReady</a></li><li><a href="https://www.weather.gov/notification/">Service Change Notices</a></li></ul> </li>
<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="http://www.weat

In [134]:
## create the Emplty list

Days=[]
Short_Description=[]
Temperature=[]
Description=[]

In [135]:
day=weather_soup.find_all('p',class_='period-name')

for i in day:
    Days.append(i.get_text().replace("\n",""))
Days

['NOW: Multiplehazards in effect',
 'M.L.KingDay',
 'Tonight',
 'Tuesday',
 'TuesdayNight',
 'Wednesday',
 'WednesdayNight',
 'Thursday',
 'ThursdayNight']

In [136]:
short_descrition=weather_soup.find_all('p',class_='short-desc')

for i in short_descrition:
    Short_Description.append(i.get_text().replace("\n",""))
    
Short_Description

['Click HERE for Details',
 'Sunny',
 'Clear thenMostly Clearand Breezy',
 'Sunny',
 'Clear',
 'Sunny',
 'Mostly Clear',
 'Mostly Sunny',
 'Partly Cloudy']

In [137]:
Temp=weather_soup.find_all('p',class_='temp temp-low')

for i in Temp:
    Temperature.append(i.get_text().replace("\n",""))
    
Temperature

['Low: 52 °F', 'Low: 46 °F', 'Low: 45 °F', 'Low: 46 °F']

In [138]:
descrition=weather_soup.find_all('div',class_='col-sm-10 forecast-text')

for i in descrition:
    Description.append(i.get_text().replace("\n",""))
Description

['Sunny, with a high near 72. North wind 6 to 14 mph, with gusts as high as 32 mph. ',
 'Clear, with a low around 52. Breezy, with a north wind 15 to 20 mph increasing to 23 to 28 mph after midnight. Winds could gust as high as 49 mph. ',
 'Sunny, with a high near 66. North northeast wind 13 to 21 mph, with gusts as high as 41 mph. ',
 'Clear, with a low around 46. North northeast wind 5 to 10 mph, with gusts as high as 31 mph. ',
 'Sunny, with a high near 64. Calm wind becoming north around 5 mph in the afternoon. ',
 'Mostly clear, with a low around 45.',
 'Mostly sunny, with a high near 61.',
 'Partly cloudy, with a low around 46.',
 'Mostly sunny, with a high near 57.',
 'Partly cloudy, with a low around 43.',
 'Sunny, with a high near 56.',
 'Mostly clear, with a low around 43.',
 'A slight chance of showers.  Mostly sunny, with a high near 56.']

In [139]:
Weather=pd.DataFrame({})

Weather['Period']=Days[0:9]
Weather['SHORT DESCRIPTION']=Short_Description[0:9]
Weather['DESCRIPTION']=Description[0:9]

Weather

,Period,SHORT DESCRIPTION,DESCRIPTION
0,NOW: Multiplehazards in effect,Click HERE for Details,"Sunny, with a high near 72. North wind 6 to 14..."
1,M.L.KingDay,Sunny,"Clear, with a low around 52. Breezy, with a no..."
2,Tonight,Clear thenMostly Clearand Breezy,"Sunny, with a high near 66. North northeast wi..."
3,Tuesday,Sunny,"Clear, with a low around 46. North northeast w..."
4,TuesdayNight,Clear,"Sunny, with a high near 64. Calm wind becoming..."
5,Wednesday,Sunny,"Mostly clear, with a low around 45."
6,WednesdayNight,Mostly Clear,"Mostly sunny, with a high near 61."
7,Thursday,Mostly Sunny,"Partly cloudy, with a low around 46."
8,ThursdayNight,Partly Cloudy,"Mostly sunny, with a high near 57."